doctype html
html
  head
    title Home
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a(href='/') Home
      a(href='/our-services') Our Services
      a(href='/contact-us') Contact Us
    h1 Welcome to the Home Page
    
